body {
    font-family: Arial, sans-serif;
    background-color: #4b4a4a;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.containerTable {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}
